body{
    background-color: #A0AEC0;
}
.upload_container{
    max-width: 1024px;
    width: 100%;
    height: 55vh;
}
.uploadBox{
    border: 2px dashed #d0d0d0;
    width: 100%;
    height: 20vh;
}
.hidden{
    display: none;
}
.emptyImage{
    width: 8rem;
}
button{
    border: 0;
}
.btnUploadNow{
    background-color: #2b6cb0;
}
.dropFile{
    top: 0;
    left: 0;
}
.overlayIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pointer-events-none{
    pointer-events: none;
}
.empty{
    max-width: 120px;
}
#gallery{
    flex: 1 1 0%;
}
.group:focus{
    outline: auto;
    color: #2b6cb0;
}
.imgSize{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgSize1{
    width: 20px;
    height: 20px;
}
.imgSize2{
    width: 20px;
    height: 20px;
}
.image-detail{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.2);
    transition: .3s;
}
.itemHeight{
    height: 90px;
}
.image-detail>*{
    opacity: 0;
    transition: .3s;
}
.hasImage:hover .image-detail{
    background-color: rgba(5, 5, 5, 0.4);
    color: #FFF;
}
.hasImage:hover .image-detail>*{
    opacity: 1;
}
.bottom-0{
    bottom:0;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.left-5{
    left: 5px;
}
.right-5{
    right: 5px;
}
#overlay{
    opacity: 0;
    background-color: rgba(255, 255, 255, .7);
    transition: .3s;
}
#overlay.draggedover{
    opacity: 1;
}
#empty{
    margin: 0 auto;
}
#gallery>li+li#empty{
    display: none!important;
}